{% extends '@InnomedioBackendTheme/backend_base.html.twig' %}

{% block content %}
    <div class="main-content mb-60">
        {% form_theme form '@InnomedioBackendTheme/form/template-fields.html.twig' %}

        {{ form_start(form, {'action': url('innomedio.user.groups.submit', {id: app.request.get('id')}), 'attr': {'class': 'ajax-form'}}) }}
            <div class="col-md-9">
                <div class="card">
                    <div class="card-body">
                        <div class="form-group">
                            {{ form_label(form.name) }}
                            {{ form_widget(form.name) }}
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card">
                    <div class="card-body">
                        <div class="form-group">
                            {{ form_label(form.rights) }}
                            {{ form_widget(form.rights, {'type': 'switch'}) }}
                        </div>
                    </div>
                </div>
            </div>

            {#
            <div class="col-md-6">
            <div class="card">
            <h4 class="card-title">{{ 'active'|trans }}</h4>

            <div class="media">
            <div class="media-body">
            <p><strong>{{ 'portal'|trans }}</strong></p>
            <p>{{ 'language.portal_active_info'|trans }}</p>
            </div>

            {{ form_widget(form.activeOnPortal, {'type': 'switch'}) }}

            </div>

            <div class="media">
            <div class="media-body">
            <p><strong>{{ 'website'|trans }}</strong></p>
            <p>{{ 'language.website_active_info'|trans }}</p>
            </div>


            {{ form_widget(form.activeOnWebsite, {'type': 'switch'}) }}

            </div>
            </div>

            </div>
            #}

        {{ form_end(form) }}
    </div>
{% endblock %}
