{% extends '@InnomedioBackendTheme/backend_base.html.twig' %}

{% block content %}
    <div class="main-content mb-60">
        {% form_theme form '@InnomedioBackendTheme/form/template-fields.html.twig' %}

        {{ form_start(form, {'action': url('innomedio.user.users.submit', {id: app.request.get('id')}), 'attr': {'class': 'ajax-form'}}) }}
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="form-group col-md-6">
                            {{ form_label(form.firstName) }}
                            {{ form_widget(form.firstName) }}
                        </div>

                        <div class="form-group col-md-6">
                            {{ form_label(form.lastName) }}
                            {{ form_widget(form.lastName) }}
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-md-4">
                            {{ form_label(form.email) }}
                            {{ form_widget(form.email) }}
                        </div>

                        <div class="form-group col-md-4">
                            {{ form_label(form.group) }}
                            {{ form_widget(form.group) }}
                        </div>

                        <div class="form-group col-md-4">
                            {{ form_label(form.password) }}
                            {{ form_widget(form.password) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {{ form_end(form) }}
    </div>
{% endblock %}
