{% extends "@InnomedioBackendTheme/backend_base.html.twig" %}

{% block content %}
    <div class="main-content mb-60">
        {% if users %}
            <div class="card">
                <div class="card-body p-0">
                    <table class="table mb-0">
                        <thead>
                        <tr>
                            <th>{{ 'innomedio.backend_theme.global.email'|trans }}</th>
                            <th>{{ 'innomedio.backend_theme.global.name'|trans }}</th>
                            <th>{{ 'innomedio.user.users.group'|trans }}</th>
                            <th></th>
                        </tr>
                        </thead>

                        <tbody>
                        {# @var user \Innomedio\UserBundle\Entity\BackendUser #}
                        {% for user in users %}
                            {% if 'ROLE_ROOT' not in user.roles or is_granted('ROLE_ROOT') %}
                                <tr class="item-to-remove">
                                    <td>{{ user.email }}</td>
                                    <td>{{ user.firstName }} {{ user.lastName }}</td>
                                    <td>
                                        {% if (user.group) %}
                                            <a href="{{ url('innomedio.user.groups.form', {id: user.group.id, action: 'edit'}) }}">{{ user.group.name }}</a>
                                        {% endif %}
                                    </td>

                                    <td class="text-right">
                                        <div class="dropdown">
                                            <a class="text-lighter" href="#" data-toggle="dropdown" aria-expanded="false"><i class="ti-more-alt rotate-90"></i></a>
                                            <div class="dropdown-menu dropdown-menu-right" x-placement="bottom-end">
                                                <a class="dropdown-item" href="{{ url('innomedio.user.users.form', {action: 'edit', id: user.id}) }}"><i class="fa fa-fw fa-search"></i> {{ 'innomedio.backend_theme.global.edit'|trans }}</a>

                                                {% if app.user.id != user.id %}
                                                <div class="dropdown-divider"></div>
                                                <a class="ajax-remove dropdown-item"
                                                   href="{{ url('innomedio.user.users.remove', {id: user.id}) }}"
                                                ><i class="fa fa-fw fa-trash"></i> {{ 'innomedio.backend_theme.global.remove'|trans }}</a>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        {% endif %}
    </div>

    <div class="fab fab-fixed">
        <a class="btn btn-float btn-primary"
           href="{{ url('innomedio.user.users.form', {action: 'add'}) }}"
           data-provide="tooltip"
           data-original-title="{{ 'innomedio.backend_theme.global.add'|trans }}"
        ><i class="ti-plus"></i></a>
    </div>
{% endblock %}