<li class="dropdown">
    <span class="topbar-btn" data-toggle="dropdown" aria-expanded="true"><i class="ti-user"></i></span>
    <div class="dropdown-menu dropdown-menu-right" x-placement="bottom-end" style="position: absolute; top: 65px; left: -120px; will-change: top, left;">
        <a class="dropdown-item" href="{{ url('innomedio.user.logout') }}">
            <i class="ti-power-off"></i> {{ 'innomedio.user.topbar.logout'|trans }}
        </a>
    </div>
</li>