{% extends '@InnomedioBackendTheme/backend_base.html.twig' %}

{% block content %}
    <div class="main-content">
        {% form_theme form '@InnomedioBackendTheme/form/template-fields.html.twig' %}

        {{ form_start(form, {'action': url('innomedio.user.rights.submit', {id: app.request.get('id')}), 'attr': {'class': 'ajax-form'}}) }}
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="form-group col-md-12">
                                {{ form_label(form.name) }}
                                {{ form_widget(form.name) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
