{% extends "@InnomedioBackendTheme/backend_base.html.twig" %}

{% block content %}
    <div class="main-content mb-60">
        {% if rights %}
            <div class="card">
                <div class="card-body p-0">
                    <table class="table mb-0">
                        <tbody>
                        {% for right in rights %}
                            <tr class="item-to-remove">
                                <td>{{ right.name }}</td>

                                <td class="text-right">
                                    <div class="dropdown">
                                        <a class="text-lighter" href="#" data-toggle="dropdown" aria-expanded="false"><i class="ti-more-alt rotate-90"></i></a>
                                        <div class="dropdown-menu dropdown-menu-right" x-placement="bottom-end">
                                            <a class="dropdown-item" href="{{ url('innomedio.user.rights.form', {action: 'edit', id: right.id}) }}"><i class="fa fa-fw fa-search"></i> {{ 'innomedio.backend_theme.global.edit'|trans }}</a>
                                            <div class="dropdown-divider"></div>
                                            <a class="ajax-remove dropdown-item"
                                               href="{{ url('innomedio.user.rights.remove', {id: right.id}) }}"
                                            ><i class="fa fa-fw fa-trash"></i> {{ 'innomedio.backend_theme.global.remove'|trans }}</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        {% endif %}
    </div>

    <div class="fab fab-fixed">
        <a class="btn btn-float btn-primary"
           href="{{ url('innomedio.user.rights.form', {action: 'add'}) }}"
           data-provide="tooltip"
           data-original-title="{{ 'innomedio.backend_theme.global.add'|trans }}"
        ><i class="ti-plus"></i></a>
    </div>
{% endblock %}